node_modules
temp
temp1
backup
Resurse/css/a.css
Resurse/css/c.css
Resurse/scss/a.css
Resurse/scss/a.css.map
Resurse/scss/a.scss
Resurse/scss/c.scss
Resurse/scss/c.css
Resurse/scss/c.css.map
Resurse/imagini/galerie1