<div id="grid-pagina">
    <section id="welcome">
        <h2 id="#casa">Acasa</h2>
        <figure>
            <picture>
                <source media="(max-width: 600px)" srcset="./Resurse/imagini/sigla.png">
                <source media="(max-width: 1000px)" srcset="./Resurse/imagini/sigla.png">
                <img src="./Resurse/imagini/sigla.png" alt="imagine-sigla" title="descriere la hover">
            </picture>
            <figcaption>Sigla site-ului</figcaption>
        </figure>
        <a href="./Resurse/imagini/sigla.png" download="sigla">Descarca imaginea</a>
        <section>
            <h3 id="noi">Despre noi</h3>
            <p><b><em>Magazinul de plante</em></b> este locul ideal de unde poti achizitiona o gama larga de produse, inclusiv seminte, ghivece, ingrasaminte si alte produse pentru gradinarit. Comercializam diverse plante, precum flori, arbori, plante ornamentale, plante roditoare sau bulbi. De asemenea, oferim consultanta pe email sau telefonic.</p>
            <p><q>A beautiful plant is like having a friend around the house.</q></p>
            <div class="container-iframe">
                <div class="taburi-iframe">
                    <a href="https://www.youtube.com/embed/K01ChwVFrkc" target="iframe a">Trandafiri</a>
                    <a href="https://www.youtube.com/embed/sNjJZyd1q4U" target="iframe a">Pomi fructiferi</a>
                    <a href="https://www.youtube.com/embed/FaAU_Hxg6tU" target="iframe a">Plante de interior</a>
                </div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/K01ChwVFrkc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen name="iframe a"></iframe>
            </div>
        </section>
    </section>
    <section id="top_produse">
        <h3>Top produse</h3>
        <div class="container-tabel">
            <table>
                <caption>Top produse saptamana 13.03-19.03.2023</caption>
                <thead>
                <tr>
                    <th>Nr</th>
                    <th>Nume</th>
                    <th>Categorie</th>
                    <th>Pret</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Trandafir</td>
                    <td>Flori</td>
                    <td>25 lei/buc</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Gardenia</td>
                    <td>Flori</td>
                    <td>30 lei/buc</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Trifoi clasic</td>
                    <td>Plante ornamentale</td>
                    <td>15 lei/buc</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Coacaz negru</td>
                    <td>Plante roditoare</td>
                    <td>28 lei/buc</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4">Noul top va fi afisat in fiecare luni.</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </section>
    <section id="calendar">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur cupiditate dolor
            doloremque eaque eos explicabo illum iste maxime minima, nostrum nulla perferendis placeat quae sit
            suscipit unde vitae voluptatem?</p>
    </section>
    <section id="anunturi">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet aut culpa dignissimos dolore
            expedita facere fugiat illo minima molestias odio odit perferendis perspiciatis quasi quod sit tempore
            velit, veniam.</p>
    </section>
    <section id="lista_utilizatori">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, deserunt dolorem hic inventore
            ipsam minus mollitia nihil odio sed vel. Amet dolor eos itaque labore nemo perferendis possimus,
            voluptatem voluptatibus!</p>
    </section>
    <section id="date_utilizatori">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aspernatur beatae
            consequatur dolorum ea eaque et expedita illo, laborum nam quae qui quisquam ratione sint totam,
            voluptas voluptates. Esse.</p>
    </section>
    <section id="date_site">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam aliquid asperiores, at autem
            consequatur culpa cupiditate, dolorem laboriosam magni natus officiis praesentium quos saepe similique
            sit totam veritatis voluptatum.</p>
    </section>
    <section id="promotii">
        <h3>Promotii</h3>
        <div><i class="fa-solid fa-gem fa-spin fa-3x"></i></div>
        <p>In perioada 01.03-15.03.2023, avem 20% reducere la urmatoarele produse:</p>
        <details><summary>Flori</summary>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam maxime non nulla officia quae similique vitae! Blanditiis cumque eos esse explicabo, facere fugiat incidunt numquam odio possimus quidem, reiciendis voluptatibus!</details>
        <details><summary>Arbori</summary>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere ipsam possimus suscipit. Amet architecto facere id qui repudiandae sequi temporibus veniam voluptates. Autem doloribus molestiae neque pariatur, quisquam quos repellendus.</details>
        <details><summary>Plante ornamentale</summary>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ea earum enim ipsa laboriosam magnam saepe suscipit tempora? Aspernatur commodi cum magni nemo quod. Impedit porro repellendus sint? Explicabo, tempore.</details>
    </section>
</div>