<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Magazinul de plante</title>
    <meta name="keywords" content="plante, flori, bulbi, magazin de plante, arbusti, pomi, accesorii de gradinarit, unelte de gradinarit, plante cataratoare, plante de interior">
    <meta name="description" content="Magazin de plante. Flori, pomi, arbusti si accesorii pentru gradina ta.">

    <%- include("../fragmente/head.ejs")%>
</head>
<body>
    <%- include("../fragmente/header.ejs")%>
    <main>
        <div id="grid-pagina">
            <section id="welcome">
                <h2 id="#casa">Acasa</h2>
                <figure>
                    <picture>
                        <source media="(max-width: 600px)" srcset="./Resurse/imagini/sigla.png">
                        <source media="(max-width: 1000px)" srcset="./Resurse/imagini/sigla.png">
                        <img src="./Resurse/imagini/sigla.png" alt="imagine-sigla" title="descriere la hover">
                    </picture>
                    <figcaption>Sigla site-ului</figcaption>
                </figure>
                <a href="./Resurse/imagini/sigla.png" download="sigla">Descarca imaginea</a>
                <section>
                    <h3 id="noi">Despre noi</h3>
                    <p><b><em>Magazinul de plante</em></b> este locul ideal de unde poti achizitiona o gama larga de produse, inclusiv seminte, ghivece, ingrasaminte si alte produse pentru gradinarit. Comercializam diverse plante, precum flori, arbori, plante ornamentale, plante roditoare sau bulbi. De asemenea, oferim consultanta pe email sau telefonic.</p>
                    <p><q>A beautiful plant is like having a friend around the house.</q></p>
                    <div class="container-iframe">
                        <div class="taburi-iframe">
                            <a href="https://www.youtube.com/embed/K01ChwVFrkc" target="iframe a">Trandafiri</a>
                            <a href="https://www.youtube.com/embed/sNjJZyd1q4U" target="iframe a">Pomi fructiferi</a>
                            <a href="https://www.youtube.com/embed/FaAU_Hxg6tU" target="iframe a">Plante de interior</a>
                        </div>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/K01ChwVFrkc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen name="iframe a"></iframe>
                    </div>
                </section>
            </section>
        </div>
    </main>
    <%- include("../fragmente/footer.ejs")%>
</body>
</html>