body{
    --spatiere-pagina: 30px;
    --padding-sectiune: 10px;
}
#grid-pagina {
    grid-template-columns: 1fr 1fr; /*repeat(2,1fr);*/
    grid-template-areas: "z-welcome z-welcome"
                        "z-promotii z-promotii"
                        "z-calendar z-top_produse"
                        "z-anunturi z-lista_utilizatori"
                        "z-date_utilizatori z-date_site";
    gap: 15px 7.5px;
}
html{
    font-size: 15px;
}

.container-iframe{
    display: none;
}