html {
    font-size: 18px;
}

body {
    --culoare-grid-fundal: #D8F7CF;
    --culoare-border: #697865;
    --culoare-meniu: #ACC4A5;
    --culoare-highlight:#F7CDB7;
    --culoare-fundal:#B1E0B6;
    --culoare-text: black;
    --culoare-text-buton: #31382F;
    --culoare-border-tabel: #AB9387;
    --culoare-c1:#78675F;
    --culoare-c2:#5E4B41;
    --culoare-header: #FFE4D6;
    --culoare-border-header: #80726B;
    --spatiere_pagina: 30px;
    --padding-sectiune: 15px;
    --inaltime-buton-link: 25px;
    --latime-buton-link: 150px;
}

body.dark {
    --culoare-text: white;
    --culoare-grid-fundal: #9CB396;
    --culoare-meniu: #798A74;
    --culoare-highlight: #A38879;
    --culoare-fundal: #759478;
    --culoare-text-buton: #C2DEBA;
    --culoare-border-tabel: #5C4F49;
    --culoare-c1: #CCAFA1;
    --culoare-c2: #CFA58F;
    --culoare-header: #8A7B74;
    --culoare-border-header: #DEC6BA;

}

#tema i.fa-sun {
    display: none;
}

body.dark #tema i.fa-moon{
    display: none;
}

body.dark #tema i.fa-sun{
    display: inline;
}

body {
    background-color: var(--culoare-fundal);
    color: var(--culoare-text);
    padding-right: var(--spatiere_pagina);
    padding-left: var(--spatiere_pagina);
    min-width: 450px;
    margin: 0;
}

header,footer{
    background-color: var(--culoare-header);
    border: 3px solid var(--culoare-border-header);
    border-radius: 25px;
    padding: 10px;
}

header{
    margin-bottom: 10px;
}
footer{
    margin-top: 30px;
}

header h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
#grid-pagina {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "z-welcome z-welcome z-welcome z-welcome"
                        "z-promotii z-promotii z-promotii z-promotii"
                        "z-calendar z-top_produse z-top_produse z-anunturi"
                        "z-lista_utilizatori z-date_utilizatori z-date_site z-date_site";
    gap: 20px 10px;
}
#grid-pagina > * {
    border: 3px solid var(--culoare-border);
    padding: var(--padding-sectiune);
    background-color: var(--culoare-grid-fundal);
    border-radius: 25px;
}
#welcome{
    grid-area: z-welcome;
}
#promotii{
    grid-area: z-promotii;
}
#calendar{
    grid-area: z-calendar;
}

#top_produse{
    grid-area: z-top_produse;
}

#anunturi{
    grid-area: z-anunturi;
}
#lista_utilizatori{
    grid-area: z-lista_utilizatori;
}
#date_utilizatori{
    grid-area: z-date_utilizatori;
}

#date_site{
    grid-area: z-date_site;
}

main {
    margin-top: 100px;
}

img{
    width: 100%;
    max-width: 400px;

}

iframe{
    width: 100%;
    display: block;
}

.container-iframe{
    width: 500px;
}

.container-iframe iframe{
    width: 100%;
}

.taburi-iframe{
    display: flex;
    justify-content: center;
}

.taburi-iframe a{
    width: var(--latime-buton-link);
    height: var(--inaltime-buton-link);
    background-color: var(--culoare-meniu);
    border: 1px solid var(--culoare-border);
    text-align: center;
    box-sizing: border-box;
    margin-right: 5px;
    box-shadow: 0 0 5 0 var(--culoare-text-buton) ;

}

.taburi-iframe a:hover{
    background-color: var(--culoare-highlight);
}

video{
    width: 100%;
}

video::cue{
    background-color: transparent;
    color: white;
    text-shadow: 2px 4px 4px  black;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 5px inset var(--culoare-border-tabel);
}

th, td{
    border: 1px solid var(--culoare-border-tabel);
    text-align: center;
    padding: 5px;

}

tr:nth-child(odd) td, tr:nth-child(even) th{
    border-top: 1px solid var(--culoare-c2);
    border-bottom: 1px solid var(--culoare-c1);
}
tr:nth-child(even) td, tr:nth-child(odd) th{
    border-top: 1px solid var(--culoare-c1);
    border-bottom: 1px solid var(--culoare-c2);
}

tr:hover{
    outline: 5px solid var(--culoare-highlight);
    transition: outline 0.5s;
}

.container-tabel{
    max-width: 100%;
    overflow-x: auto;
}

caption{
    caption-side: bottom;
}

.link-top{
    display: block;
    position: fixed;
    bottom: 8px;
    right: 8px;
    width: 1em;
    height: 1em;
    line-height: 0.9em;
    font-size: 3em;
    text-align: center;
    background-color: var(--culoare-grid-fundal);
    color: var(--culoare-text-buton);
    border-radius: 50%;
    padding: 0;
    text-decoration: none;
    opacity: 75%;
    box-shadow: 0 0 10px var(--culoare-text-buton);
    transition: opacity 0.4s ease-in-out;
}

.link-top:hover{
    background-color: var(--culoare-grid-fundal);
    box-shadow: 0 0 15px var(--culoare-text-buton);
    color: var(--culoare-text-buton);
    opacity: 100%;
}

.watermark{
    display: none;
}

main a.link{
    background-position: center;
    background-size: 0;
    background-repeat: no-repeat;
}

main a.link:hover{
    background-size: 100%;
    color: black;
    background-image: radial-gradient(var(--culoare-header) 40%, transparent 80%, transparent 100%);
    transition: all 1s linear;
}

main a.link:active{
    border: 1px solid black;
    transition: all 0.5s linear;
}

main a.link[href^="http"]::before{
    content: "⮳";
    font-size: 1.5rem;
}

main a.link[href^="http"]:hover::before{
    color: black;
    transition: color 0.35s linear;
}

#text-reflectat {
    font-size: 1.5em;
    position: relative;
    left: -7px;
    top: -10px;
    transform-origin: top;
    transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px, -25px);
    opacity: 0.55;
    filter: blur(1px);
}

#text-de-reflectat:hover+#text-reflectat {
    transform: rotateX(180deg) skew(-45deg) scaleY(0.7) translate(10px, -34px);
    transform-origin: top;
    transition: transform 0.5s linear;
}

.scrolling-text {
    overflow-x: hidden;
}

.scrolling-text p {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 10s linear infinite ;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }

}

.fixed-bg {
    background-image: url("/Resurse/imagini/galerie/gerbera.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@keyframes change-background {
    0% {
        background-image: url("/Resurse/imagini/galerie/gerbera.jpg");
    }
    50% {
        background-image: url("/Resurse/imagini/galerie/orhidee.jpg");
    }
    100% {
        background-image: url("/Resurse/imagini/galerie/narcisa.jpg");
    }
}

.fixed-bg {
    animation: change-background 20s ease-in-out infinite;
}