body{
    --spatiere-pagina: 10px;
    --padding-sectiune: 5px;
}
body{
    animation-play-state: paused;
}
#grid-pagina{
    display: block;
    gap: 10px 5px;
}
#grid-pagina > *{
    margin-bottom: 15px;
}
html{
    font-size: 12px;
}

.container-iframe{
    display: none;
}