#banner{
    border: inset black 4px;
    width: 70%;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    left: 20%;
    bottom: 0;
    justify-content: center;
}

.watermark{
    display: block;
    position: fixed;
    opacity: 0.4;
    color: black;
    font-weight: bold;
    text-align: center;
    border: solid black 3px;
    border-radius: 15px;
    width: 4cm;
    height: 1cm;
    right: 0;
    bottom: 0;
}

#grid-pagina{
    display: block;
}

nav {
    page-break-after: always;
}

#acasa-mediu{
    display: none ;
}

ul.meniu, ul.meniu li div, ul.meniu li a, ul.meniu li, ul.meniu>li, ul.meniu ul {
    all: unset ;
}

ul.meniu ul, ul.meniu li {
    display: block ;
    position: relative ;
    left: 1cm ;
}

ul.meniu ul{
    display: none;
}

footer {
    page-break-before: always;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
}

img, video, iframe, figure, picture, .taburi-iframe, .container-iframe, .link-top{
    display: none;
}

a .link-top{
    display: none;
}

#calendar{
    page-break-before: always;
}

#promotii{
    page-break-before: always;
}

@page{
    size: A4 portrait;
    margin-bottom: 2cm;
    margin-top: 2cm;
    counter-increment: page;
}

@page:left{
    margin-left: 3cm;
    margin-right: 1cm;
}

@page:right{
    margin-right: 3cm;
    margin-left: 1cm;
}